<% if current_user.current_plan %>
	<% execution_on_today = current_user.current_plan.execution_on(Date.today) %>
	<%= draw_plan(current_user.current_plan) %>
	
	<script>
		function showExecutionDetail(status) {
			var detailSticker = $('execution_sticker')
			
			$w(detailSticker.className).each(function(className) {
				detailSticker.removeClassName(className)
			})
			detailSticker.addClassName(status)
			
			if(!detailSticker.visible()) {
				detailSticker.appear()
			}
		}
		
		function hideExecutionDetail() {
			var detailSticker = $('execution_sticker')
			if(detailSticker.visible()) {
				detailSticker.fade()
			}
		}		
	</script>
	
	<div id="execution_sticker">
		<div class="close_button" onclick='hideExecutionDetail()'></div>
		<div id="execution_detail">
			<%= render :partial => 'executions/execution', :object => execution_on_today %>
		</div>
	</div>
<% else %>
	<div class='sticker'>
		<div class='content'>
			<h2>I plan to do ...</h3>
			<% form_tag(plans_path, :method => :post) do %>
				<div class='row'>
					<div class='column_left'>&nbsp;</div>
					<div class='column_right'><%= text_field_tag 'habits[]' %></div>
				</div>
				<div class='row'>
					<div class='column_left'>and </div>
					<div class='column_right'><%= text_field_tag 'habits[]' %></div>
				</div>
				<div class='row'>
					<div class='column_left'>and </div>
					<div class='column_right'><%= text_field_tag 'habits[]' %></div>
				</div>
				<h3>in a month starts from ...</h3>
				<div class='row'>
					<div class='column_left fyi'>YYYY-mm-dd</div>
					<div class='column_right'><%= text_field_tag 'start_from' %></div>
				</div>
				<div class='row'>
					<div class='column_left'>&nbsp;</div>
					<div class='column_right' style='padding-left: 230px; padding-top: 10px'><%= submit_tag "That's it!" %></div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>