<%
	unless(devise_error_messages!().blank?) 
		message("Please fill the grids marked RED correctly.".html_safe)
	end
%>

<div class='sticker'>
	<div class='content smaller'>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		  <p><%= f.label :email %><br />
		  <%= f.text_field :email %></p>

		  <p><%= f.label :password %> <span class='fyi'>(at least 6 characters)</span><br />
		  <%= f.password_field :password %></p>

		  <p><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></p>

		  <p><%= f.label :current_password %> <span class='fyi'>(to confirm your changes)</span><br />
		  <%= f.password_field :current_password %></p>

		  <p>
			<%= f.submit "Change my password" %>
			<span><%= link_to("Back", root_path) %></span>
		  </p>
		<% end %>

	</div>
</div>