<div class='sticker'>
	<div class='content'>
		<h2>Let me in ...</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <p><%= f.label :email %><br />
		  <%= f.text_field :email, :size => 25 %></p>

		  <p><%= f.label :password %><br />
		  <%= f.password_field :password, :size => 25 %></p>

		  <% if devise_mapping.rememberable? -%>
		    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
		  <% end -%>

		  	<p>
				<%= f.submit "Sign in" %>
				
				<div class="link_after_button">
					<%= link_to "Forgot your password?", new_password_path(resource_name) %>
				</div>
			</p>
		<% end %>

	</div>
</div>