<%= render :partial => 'devise/shared/intro' %>

<div class='sticker'>
	<div class='content' id='noscript'>
		<h2>Sorry, we can't serve you!</h2>
		<p>JavaScript is turned off in your web browser. 
		Turn it on to take full advantage of this site, then refresh the page.</p>
	</div>
	<div class='content' id='signin_form' style='display:none;'>
		<h2>Let me in ...</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <p><%= f.label :email %><br />
		  <%= f.text_field :email, :size => 20 %></p>

		  <p><%= f.label :password %><br />
		  <%= f.password_field :password, :size => 20 %></p>

		  <% if devise_mapping.rememberable? -%>
		    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
		  <% end -%>

		  	<p>
				<%= f.submit "Sign in" %>
				
				<div class="link_after_button">
					<%= link_to "New comer? JOIN US NOW!", new_registration_path(resource_name) %>
				</div>
			</p>
		<% end %>
	</div>
</div>

<script>
	$('noscript').hide();
	$('signin_form').show();
</script>