<!DOCTYPE html>
<html>
<head>
  <title>1 Hour For Me</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag 'ohfy' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
	<h1><%= link_to('1 Hour For Me', root_path) %></h1>
	<div class="menu">
		<% if user_signed_in? %>
			Welcome, <%= link_to(current_user.name, edit_user_registration_path) %>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<%= link_to('New Plan', new_plan_path) %>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<%= link_to('My Plans', plans_path)%>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<%= link_to('Widget', widgets_path) %>
			&nbsp;&nbsp;|&nbsp;&nbsp;
		  	<%= link_to('Sign Out', destroy_user_session_path) %>        
		<% else %>
		  	<%= link_to('Sign In', new_user_session_path) %>  
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<%= link_to('Sign Up', new_user_registration_path) %>
		<% end %>
	</div>

	<div style="clear: both; height: 20px"></div>

	<%= yield %>
	
	<div id='messages'>
		<div><%= yield :message %></div>
		<div><%= flash[:notice] %></div>
		<div><%= flash[:alert] %></div>
	</div>

</div>

</body>
</html>
