<h3><%= execution.date.to_s %></h3>
<ul>
	<% execution.habits.each do |habit| %>
	<li class='<%= execution.status_of(habit) %>'
		onclick="<%= remote_function(
		:update => 'execution_detail', 
        :url => (url_for :controller => :activities, :action => :toggle, :execution_id => execution, :habit_id => habit )) %>">
		<%= habit.title %>
	</li>
	<% end %>
</ul>

<script>
	showExecutionDetail('<%= execution.status %>')
	
	var smallSticker = $('execution-<%= execution.date %>')
	setStatusClass(smallSticker, '<%= execution.status %>')
</script>