<h3><%= execution.date.to_s %></h3>
<div class='activity_buttons'>
	<ul>
		<% execution.habits.each do |habit| %>
		<li class='<%= execution.status_of(habit) %>'
			onclick="<%= remote_function(
			:success => 'window.location.reload()', 
	        :url => (url_for :controller => :activities, :action => :toggle, :execution_id => execution, :habit_id => habit )) %>">
			<%= habit.short_title %>
		</li>
		<% end %>
	</ul>
</div>
<div class="share_buttons">
	<span class="fanfou button"><%= render :partial => 'executions/share_to_fanfou', :locals => {:execution => execution} %></span>
</div>

<script>
	<% unless defined?(hide_sticker) and hide_sticker %>
	showExecutionDetail('<%= execution.status %>')
	<% end %>
	
	var smallSticker = $('execution-<%= execution.date %>')
	setStatusClass(smallSticker, '<%= execution.status %>')
</script>